<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<% if @restaurant.reviews.empty? %>

<h3>Be the first to leave a review!</h3>

<% else %>

<h3>Reviews</h3>

<% @restaurant.reviews.each do |review| %>
  <%= render review %>
<% end %>

<% end %>

<div>
  <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
  <%= link_to "Back to restaurants", restaurants_path %>

  <%= button_to "Destroy this restaurant", @restaurant, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this restaurant?"} %>
</div>
<br>
<%= link_to "Leave a review for #{@restaurant.name}", new_restaurant_review_path(@restaurant) %>
